@charset "utf-8";

/* base */
body, div, section, article, header, aside, footer, video, audio, label, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, table, thead, tbody, tfoot, em, strong, span, th, td, a {margin:0; padding:0; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box}
body {min-width:320px;-webkit-text-size-adjust:none}
table {width:100%; border-collapse:collapse; border-spacing:0; table-layout:fixed; word-break:break-all; font-size:12px}
fieldset,img,button,input, select, textarea {border:0; font-family:inherit; background:none}
address, caption, cite, code, dfn, em, strong, th, var {font-style:normal; font-weight:normal}
ul,ol,li {list-style:none}
caption {font-size:1px; height:0; line-height:0; opacity:0}
h1, h2, h3, h4, h5, h6 {font-size:13px}
a {text-decoration:none; background-color:transparent}
button, label, a {cursor:pointer}
textarea {resize:none}
input,textarea {-webkit-user-select: text;user-select:text}
textarea,select,input[type=email],input[type=file],input[type=hidden],input[type=image],input[type=month],input[type=number],input[type=password],input[type=radio],input[type=reset],input[type=search],input[type=submit],input[type=tel],input[type=text],input[type=time],input[type=url],input[type=week],input[type=checkbox],input[type=color],input[type=date],input[type=datetime],input[type=datetime-local] {outline:none;  -webkit-appearance:none; -moz-appearance:none; border-radius:0}
input:focus,select:focus,textarea:focus {outline: 0}
html,body {height:100%; line-height:1.2}
.hide {display:block; overflow:hidden; position:relative; z-index:-1; width:0; height:0; font-size:1px}

.header {height:50px; background:#666; }
.header_title {color:#fff; font-size:30px; padding:5px 20px 0}
article {width:1000px; margin:0 auto}
.info_box {width:1000px; overflow-x:auto;}
.info_box table {width:1200px}
table th {height:30px; padding:6px 0; text-align:center; background:#eee; border:1px solid #fff}
table td {text-align:right; border:1px solid #eee}