@charset "utf-8";

/* base */
body, div, section, article, header, aside, footer, video, audio, label, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, table, thead, tbody, tfoot, em, strong, span, th, td, a {margin:0; padding:0; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box}
body {min-width:320px;-webkit-text-size-adjust:none}
table {width:100%; border-collapse:collapse; border-spacing:0; table-layout:fixed; word-break:break-all; font-size:12px}
fieldset,img,button,input, select, textarea {border:0; font-family:inherit; background:none}
address, caption, cite, code, dfn, em, strong, th, var {font-style:normal; font-weight:normal}
ul,ol,li {list-style:none}
caption {font-size:1px; height:0; line-height:0; opacity:0}
h1, h2, h3, h4, h5, h6 {font-size:13px}
a {text-decoration:none; background-color:transparent}
button, label, a {cursor:pointer}
textarea {resize:none}
input,textarea {-webkit-user-select: text;user-select:text}
textarea,select,input[type=email],input[type=file],input[type=hidden],input[type=image],input[type=month],input[type=number],input[type=password],input[type=radio],input[type=reset],input[type=search],input[type=submit],input[type=tel],input[type=text],input[type=time],input[type=url],input[type=week],input[type=checkbox],input[type=color],input[type=date],input[type=datetime],input[type=datetime-local] {outline:none;  -webkit-appearance:none; -moz-appearance:none; border-radius:0}
input:focus,select:focus,textarea:focus {outline: 0}
html,body {height:100%; line-height:1.2}
.hide {display:block; overflow:hidden; position:relative; z-index:-1; width:0; height:0; font-size:1px}

.header {height:60px; padding-top:10px; border-bottom:1px solid #e35644}
.header_title {width:156px; margin:0 auto; color:#fff; font-size:30px}
.hot {width:1000px; margin:0 auto; padding:20px 10px}
.hot_title {padding:10px 0 15px; font-size:16px}
.hot_box {width:1000px; overflow-x:auto;}
.hot_box table {width:1200px}
.charts_box {min-width:300px; max-width:360px; height:280px; margin:20px auto 0}

.price_info {padding:10px 10px 30px;}
.price_info_box {max-width:1000px; border-bottom:1px solid #eee}
.price_info_table {margin-bottom:-1px}
.price_info_table th { line-height:1.7; text-align:center; background:#eee; border:1px solid #eee}
.price_info_table td {text-align:right; height:30px; padding:0 10px; border:1px solid #eee}
.pricd_info_tip {padding-bottom:8px; font-size:13px; text-align:right}
.price_info_title {padding:10px 0 15px; font-size:15px}
.price_info_head {height:30px; color:#fff; padding:5px 0 0; background:#e35644}
.price_info_box tbody th {border:1px solid #fff; background:#f16c22; color:#fff; border-top:1px solid #f16c22}


.comp {padding:0 10px 20px}
.comp_title {padding:10px 0 0; font-size:15px}
.comp_box {max-width:1000px; overflow-x:auto; padding:10px 0 20px}
.comp_box th {height:30px; line-height:1.7; padding:6px 0; text-align:center; background:#eee; border:1px solid #fff}
.comp_box td {text-align:center; border:1px solid #eee}
.comp_mark {color:blue; font-weight:bold}